.icon {
  width: 15px;
  height: 15px;
  cursor: pointer;

  &:hover {
    color: $theme-color;
  }
}

.confirm-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  padding: 0 35px;
  border-radius: 8px;
  background: $theme-color;
  font-size: 13px;
  font-weight: 600;
  border: 0;
  color: #fff;
  cursor: pointer;

  &:hover {
    background: #2151e7;
  }

  &:active {
    background: #507afc;
  }
}

.submit-btn {
  width: 330px;
  height: 54px;
  line-height: 54px;
  border-radius: 8px;
  background: $theme-color;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  border: 0;
  cursor: pointer;

  &:hover {
    color: #fff;
    background: #2151e7;
  }

  &:active {
    color: #fff;
    background: #507afc;
  }
}

.white-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 113px;
  min-width: 124px;
  height: 36px;
  padding: 0 15px;
  border: solid 1px #e5e5e5;
  border-radius: 8px;
  background: #fff;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    border-color: #ababab;
  }

  &:active {
    border-color: #ababab;
  }
}

.card {
  border-radius: 22px;
  background-color: #fff;
  box-shadow:
    rgba(23, 25, 29, 0.2) 0px 16px 16px -16px,
    rgb(23 25 29/3%) 0px 14px 20px 0px,
    rgb(23 25 29/4%) 0px 0px 0px 1px;
}